@model MyAnimeMVC.AnimeMVC.Models.Anime.AnimeDetail
@{
    string title = "Delete" + Model.Title;
    ViewData["Title"] = title;
}

<h1>@title</h1>
<h4>Are you sure you want to delete @Model.Title?</h4>
<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class=" col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title);
    </dd>
    <dt class=" col-sm-2">
        @Html.DisplayNameFor(model => model.YearCreated)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.YearCreated);
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.GenreId)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.GenreId)
    </dd>
    <dt class=" col-sm-2">
        @Html.DisplayNameFor(model => model.Score)
    </dt>
    <dd class="col-sm-10">
        @if (Model.Score > 0)
        {
        @Html.DisplayFor(model => model.Score);
        }
        else
        {
            <span>No Ratings Yet</span>
        }
    </dd>
</dl>

<form asp-action="Delete">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>